*{
    max-width: 100%;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
height:100%;
}

body{
    margin:0;
    height:100%;
    display:flex;
flex-direction:column;
}

header{
    padding: 15px 35px;
    border-bottom:1px solid #e9d8d8;
    margin-bottom:60px;
}
main{
    text-align:center;
    flex:1;
}
.container{
    display:inline-block;
    width:350px;
}
.step{
    text-align:left;
}
.step span{
    color:#333;
    font-size:1.4em;
}
.title h2{
    font-size:1.8em;
    color:#333;
}
.col{
    text-align:left;
    margin-top:30px;
}
.col label{
    display: block;
    font-size:1.1em;
    color:#333;
    font-weight: 500;
    margin-bottom:5px;
}
.col span{
    font-size:0.84em;
    color:#333;
     line-height:2;
}
.col input{
    width: 100%;
    padding: 16px;
    font-size:1em;
    border-radius:4px;
    border:solid 1px #33333378;
}

.col input:hover{
    border:solid 1px #0d54ff;
}

.btn{
    text-align:right;
    margin-top:30px;
}

.btn button{
   width:120px; 
    padding:12px;
    border:2px solid #0d54ff;
    background:#fff;
    color:#0d54ff;
    font-size:1em;
    font-weight:500;
    border-radius:24px;
}
.btn button:hover {
    border:2px solid #333;
    background:#faf6f6;
    color:#333;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    
}

footer .links a {
    margin: 0 7px;
    font-size:0.75em;
    color: #555;
}
.links span{
    color: #555;
}
.links .copy {
    color: #555;
    text-decoration:none;
}
@media screen and (max-width :512px){

    .step{
        padding:20px;
    }
    .step span{
    color:#333;
    font-size:1em;
}
.title h2{
    font-size:1.3em;
    color:#333;
    margin-top:30px;
}
.col{
    padding:0 18px;
     margin-top:10px;
}
.col label{
    font-size:1em;
    color:#333;
    font-weight: 500;
    margin-bottom:8px;
}
.col span{
    font-size:0.84em;
    color:#333;
}
.col input{
    width: 100%;
    padding: 14px;
    font-size:1em;
    border-radius:4px;
    border:solid 1px #33333378;
}
    .col p{
        font-size:0.8em;
    }


.btn button{
   width:100px; 
    padding:10px;
    font-size:0.8em;
    border-radius:20px;
}


}